################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
logs
*.nupkg

/.vs

/.github/copilot-chatmodes
/.github/copilot-prompts
/.github/instructions



