@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rapidex.Data Sample</h1>
    <p>
        This sample contains basic CRUD operations using Rapidex.Data.
    </p>
    <p>
        <a href="http://localhost:5250/swagger/index.html" target="_blank">Sample service swagger page </a>
    </p>
    <p>
        <a href="https://github.com/ArionWM/Rapidex.Data/blob/main/samples/Rapidex.Data.Sample.Basic1/" target="_blank">Can use; SampleRequestsPostmanCollection.json and SampleRequestsPostmanCollectionEnviromentValues.json </a>
    </p>
    <p>
        Learn about <a href="https://github.com/ArionWM/Rapidex.Data">building apps with Rapidex.Data</a>.
    </p>
</div>
