@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rapidex.Data Sample</h1>
    <p>
        This sample contains basic CRUD operations using Rapidex.Data.
    </p>
    <p>
        Learn about <a href="https://github.com/ArionWM/Rapidex.Base.Data">building apps with Rapidex.Data</a>.
    </p>
</div>
